.cancel_button {
    -fx-background-color: #F55F51, #F3F3F3;
    -fx-background-radius: 15;
    -fx-background-insets: 0, 2;
    -fx-text-fill: #0D0106;
    -fx-font-weight: 100;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 10, 0.0, 2, 4);
}
.cancel_button:hover {
    -fx-background-color: #F55F51;
    -fx-text-fill: #F3F3F3;
    -fx-font-weight: 800;
}
.save_button {
    -fx-background-color: #2E382E;
    -fx-background-radius: 15;
    -fx-text-fill: #F3F3F3;
    -fx-effect: none;
}
.save_button:hover {
    -fx-background-color: #2E382E;
    -fx-background-radius: 15;
    -fx-text-fill: #F3F3F3;
    -fx-effect: none;
}
.back_button {
    -fx-background-color: #F3F3F3;
    -fx-text-fill: #2E382E;
    -fx-font-weight: 400;
    -fx-effect: none;
}
.back_button:hover {
    -fx-background-color: #F3F3F3;
    -fx-text-fill: #2E382E;
    -fx-font-weight: 800;
    -fx-effect: none;
}